body{
    background-color:  #fffffe;
    margin: 0;
    padding: 0;
}
.dancing-script{
    font-family: 'Dancing script',cursive;
}
.bg-light{
    background-color:#ffd803 ;
}
.bg-secondary{
    background-color:#e3f6f5 ;
}
.text-primary{
    color:#272343;
}
.text-dark{
    color:#272343;
}
.text-center{
    text-align: center;

}
.btn{
    padding: 15px 15px;
    border-radius: 50px;
    border:none;
    cursor:pointer;
    box-shadow: 0 5px 15px gray;
}
.btn-secondary{
    background-color:#ffd803 ;
    margin: 10px;
}
.btn-primary{
    background-color:#ffd803 ;
}
.no-underline{
    text-decoration: none;
}
.fs-50{
    font-size: 50px;
}